Repository davidleathers113/truthlens: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node
  pass_filenames: true

tsc:
  name: TypeScript type check
  entry: npx tsc --noEmit
  language: node
  pass_filenames: false

docs: add regex usage report
  docs/regex-usage-report.md
Due: none

feat: implement Phase 1 regex replacements - multilingual support
  CLAUDE.md
  package-lock.json
  package.json
  src/content/extractors/tiktokExtractor.ts
  src/popup/components/Help/FAQSection.tsx
  src/shared/utils/clickbaitAnalyzer.ts
  src/shared/utils/engagementParser.ts
  src/shared/utils/htmlProcessor.ts
  src/shared/utils/index.ts
  src/shared/utils/socialTextParser.ts
  src/shared/utils/urlMatcher.ts
Due: eslint, tsc

docs: add Phase 1 implementation summary
  docs/phase1-regex-replacement-summary.md
Due: none

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

build: migrate webpack config from ES modules to CommonJS
  webpack/plugins/CSPAuditPlugin.cjs
  webpack/webpack.common.cjs
  webpack/webpack.dev.cjs
  webpack/webpack.prod.cjs
Due: none

chore: update project configuration and dependencies
  .repomixignore
  eslint.config.js
  jest.config.cjs
  package-lock.json
  package.json
  repomix.config.json
  tsconfig.json
Due: eslint

docs: add implementation reports and project documentation
  CLAUDE.md
  docs/phase1-final-summary.md
  docs/phase1-verification-report.md
  docs/phase2-implementation-report.md
  docs/phase3-implementation-report.md
  docs/phase4-implementation-report.md
  docs/regex-replacement-complete-summary.md
  docs/unicode-regex-safety-analysis.md
  repomix-setup-guide.md
  scripts/README.md
Due: none

test: update test infrastructure and add new test utilities
  tests/e2e/global-setup.ts
  tests/e2e/global-teardown.ts
  tests/integration/backgroundContent.test.ts
  tests/performance/benchmark.test.ts
  tests/setup-mocks.ts
  tests/setup.ts
  tests/unit/aiService.test.ts
  tests/unit/cspAuditor.test.ts
  tests/unit/domainExtractor.test.ts
  tests/unit/emojiProcessor.test.ts
  tests/unit/genericExtractor.test.ts
  tests/unit/indicatorManager.test.ts
  tests/unit/instagramExtractor.test.ts
  tests/unit/lexiconUpdater.test.ts
  tests/unit/storageService.test.ts
  tests/utils/mockData.ts
  tests/utils/performance.ts
  tests/utils/testHelpers.ts
Due: eslint, tsc

feat(utils): add new utility modules for enhanced text processing
  src/shared/utils/data/clickbait-phrases-generated.json
  src/shared/utils/data/emoji-sentiments-generated.json
  src/shared/utils/data/slang-abbreviations-generated.json
  src/shared/utils/domainExtractor.ts
  src/shared/utils/emojiProcessor.ts
Due: eslint, tsc

feat(scripts): add CSP auditor and lexicon updater scripts
  lexicon-data/queue/review-queue.json
  scripts/csp-audit.ts
  scripts/lexicon-updater.ts
Due: eslint, tsc

feat(background): add offscreen document support and enhance services
  public/offscreen.html
  src/background/offscreen/articleParser.ts
  src/background/offscreen/offscreen.ts
Due: eslint, tsc

feat(content): add content monitoring and enhance extractors
  src/content/monitors/selectorDriftDetector.ts
  src/content/observers/dynamicContentObserver.ts
Due: eslint, tsc

chore: add Claude AI configuration
  .claude/commands/github.md
Due: none

chore: add repomix-output.md to .gitignore
  .gitignore
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  tsc: any of: \.(ts|tsx)$
